html,
body {
  height: 100%;
}

body {
  background: rgb(246, 219, 231);
  background: radial-gradient(
    circle,
    rgba(246, 219, 231, 1) 0%,
    rgba(194, 214, 238, 1) 100%
  );
}

h1 {
  text-align: center;
}

/* Code for exercise 01-flex */

body {
  margin: 0;
}

.navbar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background: var(--purple);
}

nav .nav-item {
  list-style-type: none;
  background-color: var(--purple);
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  padding: 1.5em 2em;
}

nav .nav-link {
  border: solid 3px var(--purple);
}

nav .nav-link:hover {
  border: solid 3px var(--green);
  background-color: var(--green);
}

nav .nav-link:active {
  border: solid 3px var(--orange);
  background-color: var(--orange);
}

nav .nav-link:focus {
  border: solid 3px var(--orange);
}

@media only screen and (max-width: 414px) {
  .nav-list {
    justify-content: space-between;
  }
}


.grid-container {
  display: grid;
  height: 97vh;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-rows: repeat(8, 1fr);
  }

  .item5 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: 2fr;
    grid-template-areas:
      "header header"
      "jumbotron jumbotron"
      "jumbotron jumbotron"
      "section section"
      "section section"
      "card1 card2"
      "card1 card2"
      "footer footer";
  }

  .item5 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
