nav {
  display: inline-block;
}

.nav-list {
  padding: 0 0.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--background-brand);
  border: solid 1px var(--text-secondary);
  border-radius: 2em;
}

.nav-list > * {
  border-right: solid 1px var(--text-secondary);
}

.nav-list *:last-child {
  border-right: none;
}

nav .list-item {
  box-sizing: border-box;
  margin: 0.5em 0;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text-secondary);
}

.nav-link:hover {
  color: var(--brand-primary);
}

.nav-link:focus {
  background-color: var(--background-secondary);
  color: var(--brand-primary);
}

.nav-item-divider {
  border-right: 1px solid var(--text-primary);
  height: 2em;
}
