@import url("header.css");
@import url("footer.css");
@import url("navbar.css");
@import url("contact-form.css");

* {
  box-sizing: border-box;
}

a:hover {
  color: var(--brand-primary);
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;

  --brand-primary: #f56149;
  --brand-secondary: #27e4bf;

  --background: #f5f6f7;
  --background-secondary: #d0d0d0;
  --background-brand: #fffaf9;
  --background-form: #f9f4f4;

  --text-primary: #111;
  --text-secondary: #333;
  --text-disabled: #3d3d3d;

  --pill-background: #c3f9ee;

  --button-primary: #a83624;
}

body {
  font-family: "Cabin", "Helvetica Neue", sans-serif;
  color: var(--text-primary);
  background-color: var(--background-brand);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.content-block {
  margin: 2em 5em;
  align-items: center;
}

h1 {
  font-family: "Cabin", "Helvetica", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: "Cabin", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
}
.main-logo {
  display: inline-block;
  width: 60px;
  height: 80px;
  object-fit: cover;
}
.logo-header {
  display: inline-block;
  color: var(--grey4);
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 3em;
  background-image: linear-gradient(50deg, rgba(11,68,54,0.9417892156862745) 0%, rgba(0,32,33,0.9501925770308123) 44%),
    url("https://tiendpham.com/images/photography/whiteriver.jpg");
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 50vh;
  width: 100%;
  flex-basis: 25vw;
  object-fit: cover;
}

.profile-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1em;
  max-width: 36em;
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: 0.10em;
  color: var(--brand-secondary);
}

.dark-link {
  color: var(--brand-secondary);
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  padding-left: 1em;
  padding-right: 1em;
  color: var(--text-primary);
  background-color: var(--brand-secondary);
  border-radius: 50px;
  border: solid var(--brand-secondary) 1px;
}

.btn-square {
  border-radius: 4px;
}

.btn:hover {
  color: var(--text-secondary);
  background-color: var(--brand-secondary);
  border: solid var(--brand-secondary) 1px;
}

.btn:focus {
  background-color: var(--brand-secondary);
  border: solid var(--brand-secondary) 1px;
}

.btn:active {
  box-shadow: 0 0 0 0.25rem var(--button-primary);
}

.icon {
  opacity: 0.9;
}
.icon-right {
  margin-left: 0.25em;
}

.icon-left {
  margin-right: 0.25em;
}

.content-block > h2 {
  margin-bottom: .5em;
}

.grid-container {
  display: grid;
  gap: 10px;
  margin: 2em 0;
}

.project-thumbnail {
  object-fit: contain;
  height: 300px;
  border-bottom: solid 1px var(--gray2);
}

.project-card {
  padding: 0;
}

.project-card-text {
  padding: 0 1em;
}

.project-card-text > * {
  margin: 1em 0;
  line-height: 1.5em;
}

.project-header {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text-secondary);
}

.project-caption {
  font-weight: bold;
  font-size: 1em;
}

.project-link-btn {
  display: block;
}

.pill {
  display: inline-block;
  margin: 4px 4px 4px 0px;
  padding: 2px 6px;
  border-radius: 8px;
  line-height: 2;
  font-size: .75em;
  font-weight: 700;
  background: var(--pill-background);
  color: var(--text-primary);
}


@media (max-width: 768px) {
  .content-block {
    margin: 2em 2em;
  }

  .hero {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-pic {
    flex: 1 2;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


.skills-container {
  padding: 2em;
  background: var(--white);
  border: solid 1px;
}

.skills-container > * {
  margin-bottom: 1em;
}

.skills-container b {
  display: block;
  margin-bottom: .25em;
}

.skills-container li {
  line-height: 1.25em;
  margin-bottom: .25em;
}
#cs-skills {
  border-color: var(--brand-primary);
}

#design-skills {
  border-color: var(--brand-secondary);
}